{% extends "base.html" %}

{% block meta_title %}Login Page_STV IT Tools {% endblock meta_title %}
{% block activemain %}active{% endblock activemain %}
{% block content %}
<div class="login-dark">
    {% block status_message %}
        {% if form.errors %}
            <div class="alert alert-warning" role="alert">
                Please, correct to following errors. {{ form.non_field_errors }}
            </div>
        {% endif %}            
    {% endblock status_message %}
    
    <form action="{% url "users:registration_register" %}" method="post">
        {% csrf_token %}        
        
        <h2 class="text-center show">Registration Form</h2>
        <div class="illustration">
            <i class="icon ion-ios-locked-outline"></i>
        </div>
        <div class="form-group">
            <input class="form-control" id="username" type="text" name="username" placeholder="Your Name">
            <span class="help-block">{{ form.errors.username.as_text }}</span>
        </div>
        <div class="form-group">
            <input class="form-control" id="usersurname" type="text" name="usersurname" placeholder="Your SurName">
            <span class="help-block">{{ form.errors.usersurname.as_text }}</span>
        </div>
        <div class="form-group">
            <input class="form-control" id="email" type="text" name="email" placeholder="Your Email">
            <span class="help-block">{{ form.errors.email.as_text }}</span>
        </div>
        <div class="form-group">
            <input class="form-control" id="login" type="text" name="username" placeholder="Your Login">
            <span class="help-block">{{ form.errors.username.as_text }}</span>
        </div>
        <div class="form-group">
            <input class="form-control" id="password" type="password" name="password1" placeholder="Password">
            <span class="help-block">{{ form.errors.password.as_text }}</span>
        </div>
        <div class="form-group">
            <input class="form-control" id="password-confirm" type="password" name="password2" placeholder="Confirm Password">
            <span class="help-block">{{ form.errors.password.as_text }}</span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" 
                    type="submit">Register</button>
        </div>
        <!--<a href="#" class="forgot">Forgot your login or password?</a>-->
    </form>
</div>
{% endblock content %}