.team-boxed {
  margin-top:25px;
}

.projects-clean {
  margin-top:25px;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;   
}

td.day-box, th.day-header {
    padding: 4px !important;
    vertical-align: middle !important;
    text-align: center;
}

textarea, select, input {
    max-width: 300px;
}
col-sm-10 {
    float: right;
}

.celebrated {
    background-color: #787879;
}

table {
    border: 2px solid gray;
}

.newday {
    border-left: 2px solid black;
}

.table-hover > tbody > tr:hover {
    background-color: #cfcacacc;
}

.tittle {
    min-height: 20px;
}