<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block meta_title %}STV IT Tools{% endblock meta_title %}</title>
    <link rel="icon" href="/static/img/logo1IT.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/Footer-Basic.css">
    <link rel="stylesheet" href="/static/css/Footer-Clean.css">
    <link rel="stylesheet" href="/static/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/static/css/Navigation-Clean1.css">
    <link rel="stylesheet" href="/static/css/Paralax-Hero-Banner.css">
    <link rel="stylesheet" href="/static/css/Projects-Clean.css">    
    <link rel="stylesheet" href="/static/css/Team-Boxed.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>    
    <div>
        <nav class="navbar navbar-default navbar-fixed-top navigation-clean">
            <div class="container-fluid">
                <div class="navbar-header col-xs-6">
                    <a class="navbar-brand navbar-link" href="/"><img src="/static/img/logo1IT.png"> IT Tools</a>
                    <div class="col-xs-10" id="user-toolbar">
                        {% if user.is_authenticated %}
                            <span> {{ user.username }} </span> |
                            <a href="{% url "users:auth_logout" %}">Logout </a>
                        {% else %}
                            <a href="{% url "users:auth_login" %}"> Login </a> |
                            <a href="{% url "users:registration_register" %}"> Register </a>
                        {% endif %}
                    </div>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% block activemain %} {% endblock activemain %}" role="presentation">
                            <a href="/">Главная </a>
                        </li>
                        <li class="{% block activeteam %} {% endblock activeteam %}" role="presentation">
                            <a href="/team/">Сотрудники </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Сервисы <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% for service in services %}
                                    <li role="presentation"><a href="{{ service.link }}">{{ service.project_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    
    {% block status_message %}
    {% endblock status_message %}
    
    {% block title %}
    {% endblock title %}
    
    {% block content %}    
    {% endblock content %}
    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href="#">
                    <i class="icon ion-social-instagram"></i>
                </a>
                <a href="#">
                    <i class="icon ion-social-snapchat"></i>
                </a>
                <a href="#">
                    <i class="icon ion-social-twitter"></i>
                </a>
                <a href="#">
                    <i class="icon ion-social-facebook"></i>
                </a>
            </div>
            <ul class="list-inline">
                <li><a href="/">Home</a></li>
                <li><a href="/services/">Services</a></li>
                <li><a href="/team/">Team </a></li>
            </ul>
            <p class="copyright">STV-KHARKIV rexxx © 2017</p>
        </footer>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/Paralax-Hero-Banner.js"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>