{% extends "base.html" %}
{% load staticfiles %}

{% block meta_title %}Journal_STV IT Tools {% endblock meta_title %}


{% block content %}

<br>
<br>
<br>
<br>
<div class="container">
    <div class="intro">
        <h2 class="text-center">График Дежурств IT STV (
            {% if jid == "8" %}8:00{% endif%}
            {% if jid == "11" %}11:00{% endif%}
            {% if jid == "7" %}Субботы{% endif%}
            {% if jid == "1" %}Праздники{% endif%}) </h2>
    </div>
    <div class="row" id="sub-header">
        <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" {% if jid == "8" %}class="active"{% endif %}>
                    <a href="/services/journal/?id=8">8-00</a>
                </li>
                <li role="presentation" {% if jid == "11" %}class="active"{% endif %}>
                    <a href="/services/journal/?id=11">11-00</a>
                </li>
                <li role="presentation" {% if jid == "7" %}class="active"{% endif %}>
                    <a href="/services/journal/?id=7">Субботы</a>
                </li>
                <li role="presentation" {% if jid == "1" %}class="active"{% endif %}>
                    <a href="/services/journal/?id=1">Праздничные дежурства</a>
                </li>
            </ul>
        </div>
    </div>
    <br>
    {% if not team %}
    <div class="alert alert-warning">
        Пока нет ниодного сотрудника. Пожалуйста, добавьте первого.
    </div>
    {% else %}
    <div class="alert">
        Изменения в журнал сохраняются автоматически при каждом клике на ячейках.
    </div>

    <p id="jornal-nav" class="text-center">
        <a href="?month={{ prev_month }}" title="Предыдущий месяц">&larr;</a>
        <strong>{{ month_verbose }} {{ year }}</strong>
        <a href="?month={{ next_month }}" title="Следующий месяц">&rarr;</a>
    </p>
    <table class="table table-hover table-stripped" id="team-journal">
        <thead>
            <tr class="header">
                <th class="num">#</th>
                <th>Сотрудник</th>
                {% for day in month_header %}
                <th class="day-header {% if day.verbose == 'Sa' or day.verbose == 'Su' %}celebrated{% endif %} "> 
                    {{ day.verbose}}
                    <br/>
                    {{ day.day }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% csrf_token %}
            {% for unit in team %}
            <tr>
                <td>
                    {% if is_paginated %}
                        {{ page_obj.start_index|add:forloop.counter|add:"-1" }}
                    {% else %}
                        {{ forloop.counter }}
                    {% endif %}
                </td>
                <td>
                    {{ unit.full_name }}
                </td>
                {% for day in unit.days %}
                <td class="day-box {% if day.verbose == 'Sa' or day.verbose == 'Su' %}celebrated {% endif %}">
                    {% if day.verbose != 'Sa' and day.verbose != 'Su' %}
                    <input type="checkbox" 
                           {% if day.verbose == 'Sa' or day.verbose == 'Su' %}readonly='readonly' {% endif %}
                           data-unit-id="{{ unit.id }}"
                           data-date="{{ day.date }}"
                           data-jid="{{ day.jid }}"
                           data-url="{{ unit.update_url }}"
                           value="1"
                           {% if day.present %}
                            checked="checked" 
                           {% endif %} />    
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% with object_list=team %}
        {% include "pagination.html" %}
    {% endwith %}
</div>
{% endblock content %}