{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Services_STV IT Tools {% endblock title %}
{% block content %}
    <div class="projects-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Сервисы IT STV</h2>
            </div>
            <div class="row projects">
                {% for service in services %}
                    <a href="/services/{{ service.id }}/">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item">
                            <img class="img-responsive" src="{% static service.image %}">
                            <h3 class="name">{{ service.name }}</h3>
                            <p class="description">{{ service.description }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}