{% extends "base.html" %}
{% load staticfiles %}
{% block meta_title %}Services_STV IT Tools {% endblock meta_title %}
{% block activeteam %}active{% endblock activeteam %}
{% block content %}
    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Наша команда</h2>
            </div>
            <div class="row people">
                {% for person in team %}
                    <a href="#">
                    <div class="col-lg-4 col-md-4 col-sm-6 item">
                        <div class="box">    
                            {% if person.photo %}
                                <img class="img-circle" src="media/{{ person.photo }}">
                            {% else %}
                                <img class="img-circle" src="{% static 'img/default_user.jpg' %}">
                            {% endif %}
                            <h3 class="name">{{ person.first_name }} {{ person.last_name }}</h3>
                            <p class="title">{{ person.position }}</p>
                            <p class="title">{{ person.location }}</p>
                            <p class="tittle">
                                {% if person.email %}
                                    <i class="ion-email"></i>
                                    {{ person.email }}
                                {% else %}
                                {% endif %}                                
                            </p>
                            <p class="tittle">
                                {% if person.phone %}
                                    <i class="ion-android-phone-portrait"></i> 
                                    {{ person.phone }}
                                {% else %}
                                {% endif %}                                
                            </p>                            
                            <p class="tittle">
                                {% if person.office_phone %}
                                    <i class="ion-android-call"></i>
                                    {{ person.office_phone }}
                                {% else %}                                    
                                {% endif %}
                                
                            </p>                            
                            <!--<div class="social">
                                <a href="#"><i class="fa fa-facebook-official"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>-->
                        </div>
                    </div>
                    </a>
                {% endfor %} 
            </div>
        </div>
    </div>
 {% endblock content %}